.sidebar {
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: #39b1c2;
	padding-top: 7vh;
	margin-top: 8vh;
	gap: 50px;
	align-items: center;
	width: 11%;
	height: 100%;
}

.sidebar__item {
	display: flex;
	align-items: center;
	gap: 15px;
	width: 71%;
	text-decoration: none;
	color: black;
}

.logo-item {
	height: 35px;
}
